.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

i {
  cursor: pointer;
}

.cardStyle {
  height: 200px;
}
.read {
  height: fit-content;
}
.navbar {
  padding: 0;
  /* justify-content: space-around; */
}
#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}
#logoText {
  color: #61dafb;
  font-size: 1rem;
}
@media (min-width: 992px) {
  .navbar-expand-lg .collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav {
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
}
@media (max-width: 992px) {
  .navbar-expand-lg .navbar-nav,.collapse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 100vw; */
  }
  
  #logoutDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* flex-direction: column; */
  }
  /* .navbar {
      display: block;
  } */
  .navbar > .container-fluid {
      justify-content: space-between;
  }
}
@media (max-width: 500px) {
  
  #logoutDiv .user {
    margin: 0;
    font-size: 0.8rem;
  }
}
@media (max-width: 350px) {
  
  #logoutDiv .user,.logout {
    margin: 0;
    font-size: 0.6rem;
  }
}
