@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');
* {
  font-family: 'Josefin Sans', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

i {
  cursor: pointer;
}

.cardStyle {
  height: 200px;
}
.read {
  height: fit-content;
}
.navbar {
  padding: 0;
  /* justify-content: space-around; */
}
#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}
#logoText {
  color: #61dafb;
  font-size: 1rem;
}
.userSpan {
  width: fit-content;
}
.userUl {
  display: block;
  position: fixed;
  list-style-position: outside;
  list-style-type: none;
  width: fit-content;
  background: linear-gradient(90deg, rgba(9,9,121,1) 30%, rgba(2,0,36,1) 50%, rgba(0,212,255,1) 70%);
  background-clip: text;
  opacity: 0;
  transition: all 1s linear;
}
.userUl li {
  background-color: cornflowerblue;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  
}
.userSpan:hover .userUl {
  opacity: 1;
}

@media (min-width: 992px) {
  .navbar-expand-lg .collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav {
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .userUl {
    top: 80px;
    right: 10px;
  }
}
@media (max-width: 992px) {
  .navbar-expand-lg .navbar-nav,.collapse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 100vw; */
  }
  
  #logoutDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    position: relative;
  }
  #loginDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
  }
  /* .navbar {
      display: block;
  } */
  .navbar > .container-fluid {
      justify-content: space-between;
  }
  .userUl {
    top: 255px;
    left: -15px;
  }
}
@media (max-width: 500px) {
  
  #logoutDiv .user {
    margin: 0;
    font-size: 0.8rem;
  }
}
@media (max-width: 350px) {
  
  #logoutDiv .user,.logout {
    margin: 0;
    font-size: 0.6rem;
  }
}


